* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
   
    
  }
 
  .flex-item-left {
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
        padding: 10px;
    flex: 50%;
  }
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  }

  img{
    width: -webkit-fill-available;
    height: 95vh;
  }

  .login-form {
      margin-top: 17vh;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
    .container {
    padding: 16px;
  }
  
  .email-holder{
      margin: 1rem;
  }

  .password-holder{
      margin: 1rem;
  }

  .checkbox-holder{
      margin: 1rem;
  }
